// Color Variables
$primary-color: #e6e9ef;
$text-color: #3b3b3b;
$text-color-light: #808080;
$border-color: #dbdedf;
$body-color: #fff;
$black: #000;
$white: #fff;
$red:#e82d2d;
$gray:#363636;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';