<section class="collection-more section">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">More from the collections</h2>
                    <p class="section-title-content">Lorem ipsum dolar sit amet simply dummy text for
                        <br> web and print media.</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="collection-more-item">
                        <div class="item-image">
                            <img class="img-fluid w-100" src="images/collection/more-item-1.jpg" alt="product-image">
                            <a href="images/collection/more-item-1.jpg" class="image-zoom">
                                <div class="item-image-overlay">
                                    <h6>Quick View</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item-info">
                            <div class="item-info-content">
                                <a href="#">
                                    <h5>D9 Pink Chair</h5>
                                </a>
                                <div class="item-info-content-price">
                                    <p>$125</p>
                                    <s>$150</s>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star"></i>
                                </li>
                                <li class="list-inline-item">(1 Review)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="collection-more-item">
                        <div class="item-image">
                            <img class="img-fluid w-100" src="images/collection/more-item-2.jpg" alt="product-image">
                            <a href="images/collection/more-item-2.jpg" class="image-zoom">
                                <div class="item-image-overlay">
                                    <h6>Quick View</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item-info">
                            <div class="item-info-content">
                                <a href="#">
                                    <h5>D9 office Chair</h5>
                                </a>
                                <div class="item-info-content-price">
                                    <p>$125</p>
                                    <s>$150</s>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star"></i>
                                </li>
                                <li class="list-inline-item">(5 Review)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="collection-more-item">
                        <div class="item-image">
                            <img class="img-fluid w-100" src="images/collection/more-item-3.jpg" alt="product-image">
                            <a href="images/collection/more-item-3.jpg" class="image-zoom">
                                <div class="item-image-overlay">
                                    <h6>Quick View</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item-info">
                            <div class="item-info-content">
                                <a href="#">
                                    <h5>D9 Blue Chair</h5>
                                </a>
                                <div class="item-info-content-price">
                                    <p>$125</p>
                                    <s>$150</s>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star"></i>
                                </li>
                                <li class="list-inline-item">(1 Review)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="collection-more-item">
                        <div class="item-image">
                            <img class="img-fluid w-100" src="images/collection/more-item-4.jpg" alt="product-image">
                            <a href="images/collection/more-item-4.jpg" class="image-zoom">
                                <div class="item-image-overlay">
                                    <h6>Quick View</h6>
                                </div>
                            </a>
                        </div>
                        <div class="item-info">
                            <div class="item-info-content">
                                <a href="#">
                                    <h5>D9 Wooden Chair</h5>
                                </a>
                                <div class="item-info-content-price">
                                    <p>$125</p>
                                    <s>$150</s>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star gold"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-star"></i>
                                </li>
                                <li class="list-inline-item">(10 Review)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>