<section class="feature section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">THEME FEATURES</h2>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-palette"></i>
                        <h6>CREATIVE DESIGN</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-layout"></i>
                        <h6>RESPONSIVE LAYOUT</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-settings"></i>
                        <h6>HIGHLY CUSTOMIZABLE</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-loop"></i>
                        <h6>SEO OPTIMIZED</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-agenda"></i>
                        <h6>GREAT DOCUMENTATION</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-item">
                        <i class="ti-sharethis"></i>
                        <h6>SOCIAL SHARING</h6>
                        <p>Kindgom is a creative theme, focused on unique design elements, smooth animations and clean layouts.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>