<section class="gallary section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallary-item">
                        <img class="img-fluid w-100" src="images/gallary/item-1.jpg" alt="product-image">
                        <a href="images/gallary/item-1.jpg" class="image-zoom-gallary">
                            <div class="gallary-item-overlay">
                                <h6>view</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallary-item">
                        <img class="img-fluid w-100" src="images/gallary/item-2.jpg" alt="product-image">
                        <a href="images/gallary/item-2.jpg" class="image-zoom-gallary">
                            <div class="gallary-item-overlay">
                                <h6>view</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallary-item">
                        <img class="img-fluid w-100" src="images/gallary/item-3.jpg" alt="product-image">
                        <a href="images/gallary/item-3.jpg" class="image-zoom-gallary">
                            <div class="gallary-item-overlay">
                                <h6>view</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallary-item">
                        <img class="img-fluid w-100" src="images/gallary/item-4.jpg" alt="product-image">
                        <a href="images/gallary/item-4.jpg" class="image-zoom-gallary">
                            <div class="gallary-item-overlay">
                                <h6>view</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>