<section class="hero-slider">
    <div class="hero-slider-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 align-self-center order-2 order-lg-1">
                    <div class="hero-slider-content">
                        <h1>D9
                            <span class="red">Red</span>
                            <br>Classic chair</h1>
                        <p>Lorem ipsum dolar sit amet simply dummy text for web and print media.</p>
                        <a href="#" class="btn btn-primary">Learn more <i class="ti-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img class="img-fluid" src="images/banner/banner-1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 align-self-center order-2 order-lg-1">
                    <div class="hero-slider-content">
                        <h1>D9
                            <span class="red">Red</span>
                            <br>Classic chair</h1>
                        <p>Lorem ipsum dolar sit amet simply dummy text for web and print media.</p>
                        <a href="#" class="btn btn-primary">Learn more <i class="ti-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img class="img-fluid" src="images/banner/banner-1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 align-self-center order-2 order-lg-1">
                    <div class="hero-slider-content">
                        <h1>D9
                            <span class="red">Red</span>
                            <br>Classic chair</h1>
                        <p>Lorem ipsum dolar sit amet simply dummy text for web and print media.</p>
                        <a href="#" class="btn btn-primary">Learn more <i class="ti-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img class="img-fluid" src="images/banner/banner-1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</section>