<section class="map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 px-0">
                    <div id="map" class="map-canvas"></div>
                    <div class="map-overlay">
                        <h6>Our store</h6>
                        <address>
                            <p>123 Fake St.
                                <br>Toronto, Canada</p>
                            <p>Mon - Fri, 10am - 9pm
                                <br>Saturday, 11am - 9pm
                                <br>Sunday, 11am - 5pm</p>
                        </address>
                        <a href="https://maps.google.com?daddr=80 Spadina Ave, Toronto" class="btn btn-direction"> get direction</a>
                    </div>
                </div>
            </div>
        </div>
    </section>