<section class="product section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-menu text-center">
                        <ul class="controls list-inline">
                            <!-- filter item list -->
                            <li class="list-inline-item control active" data-filter="all">new arrivals</li>
                            <li class="list-inline-item control" data-filter=".top-rated">top rated</li>
                            <li class="list-inline-item control" data-filter=".on-sale">on sale</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-ref="mixitup-container">
                <div class="col-lg-3 col-md-4 col-sm-6 on-sale" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-1.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                        <div class="tag on-sale-tag">on sale</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-2.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 top-rated" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-3.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                        <div class="tag discount-tag">-30%</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-4.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-5.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 on-sale" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-6.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                        <div class="tag on-sale-tag">on sale</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-7.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 top-rated" data-ref="mixitup-target">
                    <div class="product-item">
                        <!-- filter image -->
                        <img class="img-fluid w-100" src="images/products/product-8.jpg" alt="product-img">
                        <div class="product-overlay">
                            <div class="product-info">
                                <!-- filter image content -->
                                <h4 class="product-name">D9 Blue Chair</h4>
                                <h4 class="new-price">$125</h4>
                                <s class="old-price">$150</s>
                            </div>
                        </div>
                        <div class="product-info-mobile">
                            <h5 class="product-name">D9 Blue Chair</h5>
                            <div class="product-price">
                                <p>$125</p>
                                <s>$150</s>
                            </div>
                        </div>
                        <div class="tag discount-tag">-30%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>