<section class="testimonial section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">testimonials</h2>
                    <p class="section-title-content">Lorem ipsum dolar sit amet simply dummy text for
                        <br> web and print media.</p>
                </div>
            </div>
            <div class="row testimonial-slider">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="client-image">
                            <img src="images/clients/client-1.jpg" alt="client-image">
                        </div>
                        <h5>Great Design</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim</p>
                        <h6>- Ken Motrin</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="client-image">
                            <img src="images/clients/client-2.jpg" alt="client-image">
                        </div>
                        <h5>Great Support</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim</p>
                        <h6>- Alex Son</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="client-image">
                            <img src="images/clients/client-3.jpg" alt="client-image">
                        </div>
                        <h5>great Code</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim</p>
                        <h6>- Richard Martin</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="client-image">
                            <img src="images/clients/client-1.jpg" alt="client-image">
                        </div>
                        <h5>Great Design</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim</p>
                        <h6>- Ken Motrin</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="client-image">
                            <img src="images/clients/client-2.jpg" alt="client-image">
                        </div>
                        <h5>Great Code</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim</p>
                        <h6>- Alex Son</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>